<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <% # signup_path - это /signup " %>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<% # image_tag helper ищет картинки в app/assets/images %>
<%= image_tag 'picture1.jpg', class: "my_pic", alt: "kotik" %>
